body > .container {
    max-width: 720px;
}

body {
    --bg-color: #000;
    --bg-secondary-color: #131316;
    --font-color: #f5f5f5;
    --color-grey: #ccc;
    --color-darkGrey: #777;
}

main {
    padding-top: 30px;
}

footer {
    background-color: #262626;
    margin-top: 4rem;
    padding: 4rem;
}

section {
    padding-top: 40px;
}

hr {
    margin: 4rem;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.fix {
    top: 0;
    left: 0;
    background-color: #000;
}
